.title{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}

td{
    vertical-align: top;
}

.sidebar-countries{
    width: 30%;
}

.search-countries{
    width: 70%;
}

